p{
	ont-size:16px;            
	font-family:"微软雅黑";    
	line-height:28px;         
	text-indent:2em;           
}  
.blue{color:blue;}            
.red{color: red;}              
.money{font-size:26px;}  